.gitbook-link,
.custom-link
{
    display: none !important;
}

/*---------HIGHLIGHT STYLE--------------- */
#book-search-results .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}

#book-search-results .hljs-comment,
#book-search-results .hljs-quote {
  color: #bc9458;
  font-style: italic;
}

#book-search-results .hljs-keyword,
#book-search-results .hljs-selector-tag {
  color: #c26230;
}

#book-search-results .hljs-string,
#book-search-results .hljs-number,
#book-search-results .hljs-regexp,
#book-search-results .hljs-variable,
#book-search-results .hljs-template-variable {
  color: #a5c261;
}

#book-search-results .hljs-subst {
  color: #519f50;
}

#book-search-results .hljs-tag,
#book-search-results .hljs-name {
  color: #e8bf6a;
}

#book-search-results .hljs-type {
  color: #da4939;
}


#book-search-results .hljs-symbol,
#book-search-results .hljs-bullet,
#book-search-results .hljs-built_in,
#book-search-results .hljs-builtin-name,
#book-search-results .hljs-attr,
#book-search-results .hljs-link {
  color: #6d9cbe;
}

#book-search-results .hljs-params {
  color: #d0d0ff;
}

#book-search-results .hljs-attribute {
  color: #cda869;
}

#book-search-results .hljs-meta {
  color: #9b859d;
}

#book-search-results .hljs-title,
#book-search-results .hljs-section {
  color: #ffc66d;
}

#book-search-results .hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

#book-search-results .hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

#book-search-results .hljs-selector-class {
  color: #9b703f;
}

#book-search-results .hljs-selector-id {
  color: #8b98ab;
}

#book-search-results .hljs-emphasis {
  font-style: italic;
}

#book-search-results .hljs-strong {
  font-weight: bold;
}

#book-search-results .hljs-link {
  text-decoration: underline;
}
/*---------HIGHLIGHT STYLE--------------- */
